/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

.hero-image {
  background-image: url(/images/overlay.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.hero p {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
