/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/
body,
html {
  height: 100%;
}
.hero {
  margin-bottom: 100px;
}
.hero-image {
  background-image: url(/images/overlay.png);
  background-size: cover;
  padding-bottom: 40px;
  background-repeat: no-repeat;
}
.hero-content {
  text-align: center;
  padding-top: 40px;
}
.hero-content h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  color: white;
}

.hero-content p {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  color: white;
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.homepage-content img {
  margin-bottom: 20px;
}

.homepage-content h3 {
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.part-one {
  margin-right: 5px;
}
@media (max-width: 576px) {
  .hero-image {
    background-position: center;
  }
  .hero {
    margin-bottom: 10px;
  }
  .hero-content h1 {
    font-size: 38px;
    line-height: 49px;
  }

  .hero-content p {
    font-size: 14px;
    line-height: 17px;
  }

  .homepage-content h3 {
    font-size: 20px;
    line-height: 19px;
    text-align: center;
  }

  .section {
    display: block;
    margin: 0;
  }

  .part-one {
    margin-right: 0;
  }
}
